.List{
  margin-top: 20px;
}

.Store{
  margin-top: 25px;
  margin-bottom: 20px;
}

.inputGrid{
  margin-bottom: 20px;
}

.listItem{
  padding-top: 10px;
}
.headerInput{
  display: flex;
  text-align: center;
  align-content: center;
  margin-bottom: 10px;
}

